{{#block "header"}}

<!DOCTYPE html>
<html>
<head>
    <title>Change machine</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>

{{/block}}

<div class="container">

    {{#block "content"}}
    {{/block}}

</div>

{{#block "footer"}}

</body>
</html>


{{/block}}