{{#partial "content"}}

<h2>Change machine</h2>

<form action="/result">
    <label>money to change: </label>
    <input id="money" name="money" type="text">
    <button type="submit">submit</button>
</form>

{{/partial}}

{{> layout.hbs}}